h1 {
  font-size: 3em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: black;
  text-align: center;
}
h3 {
  font-size: 2.5em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: black;
}

a{
  color:black
}

p {
  font-size: 1.5em;
}

.body {
  font-size: 1em;
  /* text-align: justify; */
}


footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
